@{
    ViewData["Title"] = "Security ASP.net Core MVC (C#) Encryption and Decryption";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>By Ziggy Rafiq, delve into the intricacies of security in ASP.NET Core MVC (C#) through our comprehensive article, focusing on the vital aspects of encryption and decryption techniques. Learn how to safeguard your web applications effectively.</p>
</div>
<div>
    <h2>Encrypted Text:</h2>
    <p>@ViewData["CipherText"]</p>
</div>

<div>
    <h2>Decrypted Text:</h2>
    <p>@ViewData["DecryptedText"]</p>
</div>
<div>
    <h3>Who is Ziggy Rafiq?</h3>
    <p>I am Ziggy Rafiq, a seasoned Technical Lead Developer, recognized as a C# Corner MVP and VIP. With over 19 years of extensive experience, I am passionate about sharing my knowledge as a speaker, mentor, and trainer. Currently, I am proud to be a part of the Capgemini team, contributing my expertise to drive innovation and excellence in the field of software development.</p>
</div>